/* * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  } */

   /* The Modal (background) */
  .modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(43, 157, 77);
  }

  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    padding: 20px;
  }

  .columns {
    display: none; /* Hidden by default */
    margin: auto;
  }

  .container {
    width: 66.67%;
    float: left;
    display: flex;
    background: #fff;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    max-width: 500px;
    max-height: 1000px;
    /* border-radius: 5%; */
    margin: auto;
  }

  #gamelog {
    width: 33.33%;
    float: left;
    background: #fff;
    border-style: solid;
    width: 270px;
    height: 615px;
    overflow: auto;
    padding: 10px;
    margin: auto;
  }
  
  .columns:after {
    content: "";
    display: table;
    clear: both;
  }
  
  table {
    border-collapse: collapse;
    margin: auto;
  }
  
  td {
    background-color: rgb(153, 153, 153);
    border: 5px solid white;
    font-size: 80px;
    color: #fff;
    border-radius: 20%;
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
  }
  
  #player {
    padding: 1rem;
  }
  
  /* body {
    display: flex;
    background: #eee url('https://source.unsplash.com/1600x900/?nature') no-repeat;
    height: 100vh;
    width: 100%;
    overflow: hidden;
  } */