.container {
    display: flex;
    background: #fff;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    max-width: 500px;
    max-height: 500px;
    background-image: url('images/bgnew.jpg');
    /* border-radius: 5%; */
    margin: auto;
  }