.container {
    display: flex;
    background: #fff;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    max-width: 500px;
    max-height: 500px;
    /* border-radius: 5%; */
    margin: auto;
  }

  #startgame_regular, 
  #startgame_easy_ai,
  #login,
  #gethistory,
  #getranking,
  #logout
  {
    background-color: white;
    color: #50C878;
    border: 2px solid #e7e7e7;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: 500;
  }
  
  #startgame_regular:hover, 
  #startgame_easy_ai:hover,
  #login:hover,
  #gethistory:hover,
  #getranking:hover,
  #logout:hover
  {
    background-color: #e7e7e7;
  }